body {
  font-family: ($font-stack);
}

.logo-link {
  color: ($color-text-header);
  display: flex;
  align-items: center;
  text-shadow: 2 0px 12px rgba(255, 255, 255, 0.6);
}

.logo-link-hover {
  cursor: pointer;
  text-shadow: 0 0px 30px ($color-text-secondary);
}

.logo-icon {
  stroke: ($color-text-header);
}

.logo-link-active {
  color: ($color-text-secondary);
  stroke: ($color-text-secondary);
  text-shadow: 0 0px 30px ($color-text-secondary);
}

.logo-title {
  display: none;
}

@media screen and (min-width: 768px) {
  .logo-title {
    display: block;
    margin-left: 8px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1280px) {
  .logo-title {
    margin-left: 10px;
  }
}

.home-header-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/home-header-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: top;
  width: 100%;
  height: 230px;
  padding-bottom: 97px;
  padding-top: 46px;
  margin: 0 auto;
  position: relative;
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 320px),
  (min-resolution: 2dppx) and (min-width: 320px) {
  .home-header-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/home-header-bg-mobile@2x.jpg);
  }
}

.header__my-library-bg {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(../images/my-library-header-mob.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: black;
  width: 100%;
  height: 230px;
  padding-bottom: 97px;
  padding-top: 46px;
  margin: 0 auto;
  position: relative;
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px),
  (min-resolution: 192dpi) and (min-width: 320px),
  (min-resolution: 2dppx) and (min-width: 320px) {
  .header__my-library-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/my-library-header-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .home-header-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/home-header-bg-tablet.jpg);
  }
  .header__my-library-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/my-library-header-tab.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 2dppx) and (min-width: 768px) {
  .home-header-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/home-header-bg-tablet@2x.jpg);
  }
  .header__my-library-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/my-library-header-tab@2x.jpg);
  }
}

@media screen and (min-width: 1280px) {
  .home-header-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/home-header-bg-desktop.jpg);
  }

  .header__my-library-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/my-library-header-desktop.jpg);
  }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1280px),
  (min-resolution: 192dpi) and (min-width: 1280px),
  (min-resolution: 2dppx) and (min-width: 1280px) {
  .home-header-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/home-header-bg-desktop@2x.jpg);
  }
  .header__my-library-bg {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(../images/my-library-header-desktop@2x.jpg);
  }
}

.naw-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 54px;
}

@media screen and (min-width: 768px) {
  .naw-wrapper {
    margin-bottom: 46px;
  }
}

.naw-list-container {
  display: flex;
  align-items: flex-end;
}

.naw-list {
  display: flex;
}

.naw-list-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .naw-list-item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

.naw-list-link {
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  color: ($color-text-header);
  &:active {
    color: ($color-text-secondary);
  }
}

.login-btn {
  padding: 2px 10px;
  border: 1px solid $color-text-header;
  border-radius: 5px;
  background-color: rgba(28, 28, 28, 0);
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $color-hoverfocus-orange;
    transition: border 500ms $timing-function;
  }
}

.logout-btn {
  padding: 2px 10px;
  border: 1px solid $color-text-header;
  border-radius: 5px;
  background-color: rgba(28, 28, 28, 0);
  cursor: pointer;
  &:hover,
  &:focus {
    border: 1px solid $color-hoverfocus-orange;
    transition: border 500ms $timing-function;
  }
}

.current::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background-color: ($color-hoverfocus-orange);
}

.search-form {
  display: block;
  position: relative;
  width: 280px;
  margin: 0 auto;
}

.search-form__input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  padding-bottom: 4px;
  border-bottom: 0.5px solid ($color-text-header);
  color: ($color-text-header);
  outline: none;
  font-family: inherit;
  &:focus {
    border-color: rgba(255, 0, 27, 0.8);
    border-width: 1px;
    fill: ($color-text-secondary);
    box-shadow: 0 6px 8px rgba(255, 0, 27, 0.4);
  }
}

@media screen and (min-width: 768px) {
  .search-form {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .search-form {
    width: 394px;
  }
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  border: none;
  background-color: rgba(28, 28, 28, 0);
  cursor: pointer;
}
