.gallary-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  

    justify-content: center;
    margin-right: auto;
}
.photo-card {
    margin: 20px;
@@ -36,6 +36,7 @@ img {
    margin-top: 32px;
    margin-left: 32px;
    justify-content: flex-start;
    margin-right: auto;
}
.photo-card {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
    margin-top: 0px;
}
img {    
    width: 336px;
    height: 455px;
    left: 400px;
    top: 275px;
    border-radius: 5px;
}
.info {
    width: 368px;
}
.info-item {
    word-wrap: break-word;
}
}
