.gallary-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    
}
.photo-card {
    margin: 20px;
    
}
img {    
    width: 280px;
    height: 402px;   
    // left: 20px;
    // top: 2093px;
    // display: block;
    border-radius: 5px;
}

.info {
    width: 280px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #000000;
}

.info-genres {
    color: #FF6B08;
}

@media screen and (min-width: 768px) {
.gallary-films {
    margin-top: 32px;
    margin-left: 32px;
    justify-content: flex-start;
}
.photo-card {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 32px;
    margin-top: 0px;
}
img {    
    width: 336px;
    height: 455px;
    left: 400px;
    top: 275px;
    border-radius: 5px;
}
.info {
    width: 368px;
}
.info-item {
    word-wrap: break-word;
}
}


@media screen and (min-width: 1280px) {

.photo-card {
    margin-left: 0px;
    margin-right: 16px;
    margin-bottom: 32px;
    margin-top: 0px;
}
img {    
    width: 395px;
    height: 574px;
    left: 32px;
    top: 942px;
}
.info {
    width: 395px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.info-item {
    word-wrap: break-word;
}
    
}