<header class="header home-header-bg">
  <div class="header-container container">
    <div class="naw-wrapper">
      <a class="logo-link link" href="index.html">
        <svg class="logo-icon" width="24" height="24">
          <use href="./images/icons.svg#film"></use>
        </svg>
        <p class="logo-title" data-id="logo-item">Filmoteka</p>
      </a>
      <div class="naw-list-container">
        <ul class="naw-list list">
          <li class="naw-list-item home-link current">
            <a class="naw-list-link" href="index.html" data-name="Home">Home</a>
          </li>
          <li class="naw-list-item library-link">
            <a
              class="naw-list-link library"
              href="index.html"
              data-name="library"
              >my library</a
            >
          </li>
          <li class="naw-list-item">
            <button
              class="naw-list-link login-btn"
              href="index.html"
              data-name="login"
              data-modal-log-open
            >
              log in
            </button>
            <button
              class="logout-btn visually-hidden"
              type="button"
              data-id=" log-out"
            >
              log Out
            </button>
          </li>
        </ul>
      </div>
    </div>
    <label class="search-form">
      <input
        class="search-form__input"
        type="text"
        name="search"
        placeholder="Movie search"
      />
      <svg class="search-icon" width="12" height="12">
        <use href="./images/icons.svg#search"></use>
      </svg>
    </label>

    <div class="library-btn__wrap visually-hidden">
      <button class="library-btn watched-btn" type="button">Watched</button>
      <button class="library-btn queue-btn active" type="button">Queue</button>
    </div>
  </div>
</header>
