 <!-- <div class="hero">
  <button type="button" class="button" data-modal-open>Заказать услугу</button>
</div> -->
<!--Модальное окно-->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-review">
    <button
      type="button"
      class="review__btn-close"
      data-modal-close
      aria-label="Close"
    >
      <svg width="30" height="30">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <div class="modal-review__body">
      <!-- <div class="modal-review__card">
        <img class="modal-review__content" src=" " id="img-review" />
      </div>
      <div>
        <h2 class="modal-review__title" id="caption-review">A FISTFUL OF LEAD</h2>
        <ul class="modal-review__items">
          <li class="modal-review__item list">Vote / Votes</li>
          <p class="modal-review__item--grid">
            <span class="modal-review__item--rating" id="vote-review"></span>
            <span class="modal-review__slash"> / </span>
            <span class="modal-review__item--dark"  id="votes-review"></span>
          </p>
          <li class="modal-review__item list">Popularity</li>
          <p class="modal-review__item--dark" id="popularity-review"></p>
          <li class="modal-review__item list">Original Title</li>
          <p class="modal-review__item--dark" id="title-review"></p>
          <li class="modal-review__item list">Genre</li>
          <p class="modal-review__item--dark" id="genre-review"></p>
        </ul>
        <p class="modal-review__subtitle">About</p>
        <p class="modal-review__about" id="about-review">
        </p>
        <div class="modal-review__btn-container">
          <button type="button" class="modal-review__btn">
            add to Watched
          </button>
          <button type="button" class="modal-review__btn">add to queue</button>
        </div>
      </div>
    </div>
  </div> -->
</div>
