
  <button  class="test-for-open-modal" data-modal-log-open ></button>
  
  <div class="backdrop backdrop is-hidden" data-log-modal>
    <!-- MODAL -->
    <div class="modal__container modal data-modal">
      <div class="modal__window">

        <section class="modal-item">
          <h2 class="modal-item__title">Old user? Let's watch movies!</h2>
          <button class="modal-item__btn sign-in-btn">Log In</button>
        </section>

        <section class="modal-item">
          <h2 class="modal-item__title">New user? Let's go! </h2>
          <button class="modal-item__btn sign-up-btn">Sign Up</button>
        </section>

      </div>

      <!-- FORM -->
      <div class="form-box">
          <button  type ="button" class="test-for-close-modal close" data-modal-log-close >
            
          </button>
        
        <form action="submit" id="login-form"  class="form form__sign-in">
          <h3 class="form__title">Enter your account</h3>

          <p>
            <input type="email" class="form__input" placeholder="Email" id="login-email-input"></input>
          </p>

          <p>
            <input type="password" class="form__input"placeholder="Password" id="login-pwd-input"></input>
          </p>

          <p>
            <button type="submit" class="form__btn">Log In</button>
          </p>

        </form>
        <!-- ///////////////////////////////////////////// -->

        <form class="form form__sign-up" id="register-form">
          <h3 class="form__title">Create your own account</h3>

          <p>
            <input type="email" class="form__input" placeholder="Email" id="email-input"></input>
          </p>

          <p>
            <input type="password" class="form__input"placeholder="Password" id="pwd-input"></input>
          </p>

          <p>
            <input type="password" class="form__input"placeholder="Repeat password" id="second-pwd-input"></input>
          </p>

          <p>
            <button type="submit" class="form__btn">Sign Up</button>
          </p>
        </form>

    </div>
      <script src="./js/hideAndOpen-modal.js"  type="module"></script>
      
  </div>

<!-- ======= -->
<!-- <div class="modal modal-auth"> -->
  <!-- <form action="submit" id="register-form">
    <input type="email" placeholder="enter email" id="email-input">
    <input type="password" placeholder="enter password" id="pwd-input"></input>
    <button type="submit">Регистрация + логин</button>
  </form>

  <form action="submit" id="login-form">
    <input type="email" placeholder="enter email" id="login-email-input"></input>
    <input type="password" placeholder="enter password" id="login-pwd-input"></input>
    <button type="submit">логин</button>
  </form> -->

  <button id="log-out">пшел я (временно вышел)</button>
<!-- </div> -->


