
  <button  class="test-for-open-modal" data-modal-open ></button>
  
  <div class="backdrop backdrop is-hidden" data-modal>
    <!-- MODAL -->
    <div class="modal modal__container modal data-modal">
      <div class="modal__window">

        <section class="modal-item">
          <h2 class="modal-item__title">If you are our user already, please log in.</h2>
          <button class="modal-item__btn sign-in-btn">Log in</button>
        </section>

        <section class="modal-item">
          <h2 class="modal-item__title">Regist if you are new user.</h2>
          <button class="modal-item__btn sign-up-btn">Regist</button>
        </section>

      </div>

      <!-- FORM -->
      <div class="form-box">
          <button  type ="button" class="test-for-close-modal" data-modal-close ></button>
        
        <form action="submit" id="login-form"  class="form form__sign-in">
          <h3 class="form__title">Login</h3>

          <p>
            <input type="email" class="form__input" placeholder="enter email" id="login-email-input"></input>
          </p>

          <p>
            <input type="password" class="form__input"placeholder="enter password" id="login-pwd-input"></input>
          </p>

          <p>
            <button type="submit" class="form__btn">login</button>
          </p>

        </form>
        <!-- ///////////////////////////////////////////// -->

        <form class="form form__sign-up" id="register-form">
          <h3 class="form__title">Registration</h3>

          <p>
            <input type="email" class="form__input" placeholder="enter email" id="email-input"></input>
          </p>

          <p>
            <input type="password" class="form__input"placeholder="enter password" id="pwd-input"></input>
          </p>

          <p>
            <input type="password" class="form__input"placeholder="enter password" id="second-pwd-input"></input>
          </p>

          <p>
            <button type="submit" class="form__btn">Regist</button>
          </p>
        </form>

    </div>
      
  </div>
    <script src="./js/hideAndOpen-modal.js" defer type="module"></script>
=======
<div class="modal modal-auth">
  <form action="submit" id="register-form">
    <input type="email" placeholder="enter email" id="email-input">
    <input type="password" placeholder="enter password" id="pwd-input"></input>
    <button type="submit">Регистрация + логин</button>
  </form>

  <form action="submit" id="login-form">
    <input type="email" placeholder="enter email" id="login-email-input"></input>
    <input type="password" placeholder="enter password" id="login-pwd-input"></input>
    <button type="submit">логин</button>
  </form>

  <button id="log-out">пшел я (временно вышел)</button>
</div>

