<div class="hero">
  <button type="button" class="button" data-modal-open>Заказать услугу</button>
</div>
<!--Модальное окно-->
<div class="backdrop is-hidden" data-modal>
  <div class="modal-review">
    <button
      type="button"
      class="review__btn-close"
      data-modal-close
      aria-label="Close"
    >
      <svg width="30" height="30">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <div class="modal-review__body">
      <div class="modal-review__card">
        <img class="modal-review__content" src=" " id="img-review" />
      </div>
      <div>
        <h2 class="modal-review__title" id="caption-review">
          A FISTFUL OF LEAD
        </h2>
        <ul class="modal-review__items">
          <li class="modal-review__item list">Vote / Votes</li>
          <p class="modal-review__item--grid">
            <span class="modal-review__item--rating" id="vote-review">
              7.3
            </span>
            <span class="modal-review__slash"> / </span>
            <span class="modal-review__item--dark" id="votes-review">
              1260
            </span>
          </p>
          <li class="modal-review__item list">Popularity</li>
          <p class="modal-review__item--dark" id="popularity-review">100.2</p>
          <li class="modal-review__item list">Original Title</li>
          <p class="modal-review__item--dark" id="title-review">
            A FISTFUL OF LEAD
          </p>
          <li class="modal-review__item list">Genre</li>
          <p class="modal-review__item--dark" id="genre-review">Western</p>
        </ul>
        <p class="modal-review__subtitle">About</p>
        <p class="modal-review__about" id="about-review">
          <!-- Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how? -->
        </p>
        <div class="modal-review__btn-container">
          <button
            type="button"
            id="dima-btn-watched"
            class="d-btn-watched library-btn active"
          >
            <span class="d-add-watched">ADD TO WATCHED</span>
            <span class="d-remove-watched hide">REMOVE WATCHED</span>
          </button>
          <button
            type="button"
            id="dima-btn-queue"
            class="d-btn-queue library-btn active"
          >
            <span class="d-add-queue">ADD TO QUEUE</span>
            <span class="d-remove-queue hide">REMOVE QUEUE</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/modal-review.js" type="module"></script>
</div>
