.d-btn-watched.library-btn {
  box-shadow: none;
  margin: 10px;
  background-color: #fafafa;
  color: black;
  border: 1px solid black;
}
.d-btn-watched.library-btn.active {
  box-shadow: none;
  background-color: #ff6b08;
  color: #fafafa;
  border: none;
}
.d-btn-watched.library-btn:hover {
  background-color: #ff6b08;
  color: #fafafa;
  border: none;
}
.d-btn-queue.library-btn.active {
  box-shadow: none;
  background-color: #ff6b08;
  color: #fafafa;
  border: none;
}
.d-btn-queue.library-btn:hover {
  background-color: #ff6b08;
  color: #fafafa;
  border: none;
}
.d-btn-queue.library-btn {
  box-shadow: none;
  margin: 10px;
  background-color: #fafafa;
  color: black;
  border: 1px solid black;
}
.d-remove-watched.hide {
  display: none;
}
.d-add-watched.hide {
  display: none;
}
.d-remove-queue.hide {
  display: none;
}
.d-add-queue.hide {
  display: none;
}
