.empty-library__text {
  margin-bottom: 20px;
  font-family: $font-stack;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.33%;
  text-align: center;
  text-transform: uppercase;

  color: $color-text-footer;
}

.empty-library__image {
  width: 360px;
  height: auto;
  margin-bottom: 60px;
}
