.backdrop.is-hidden .modal-review {
      transform: translate(-50%, -50%) scale(0.6);
      transition: transform 0.25s ease-in-out;

}

.modal-review {
      position: absolute;

      left: 50%;
      padding: 16px 16px 40px 20px;
      
      transform: translate(-50%, -50%) scale(1);
      transition: transform 0.25s ease-in-out;

      background-color: $color-text-header;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

      @media (min-width: 320px) and (max-width: 768px){
            height: 100%;
            width: 280px;
            top:54%;
            
            overflow: hidden;
            overflow-y: scroll;
      }

      @media screen and (min-width: 767.98px) {
            top: 50%; 

            padding: 16px 16px 40px 36px;
            min-width: 704px;

      } 
      
      @media screen and (min-width: 1280px) {
            top: 50%;

            padding: 16px 20px 40px 20px;
            width: 806px;
            
      }
      
}

.modal-review__container{
      width: 240px;

      @media screen and (min-width: 767.98px) {
      width: 270px; 
            
      }

      @media screen and (min-width: 1280px) {
      width:394px;
      }
}

.modal-review__body{
      @media screen and (min-width: 767.98px) {
            display: flex;

      }

}

.modal-review__card{
      @media screen and (min-width: 767.98px) {
            margin-right: 68px;
      }

      @media screen and (min-width: 1280px) {
            margin-right: 16px;
      }

}

.review__btn-close { 
      position: absolute;
      padding: 12px;
      top: 0px;
      right: 0px;

      cursor: pointer;

      background-color:transparent;
      
}

.modal-review__content{
      max-width: 240px;
      height: 357px;
      border-radius: 5px;
      object-fit: cover;

      @media (min-width: 320px) and (max-width: 768px) {
      margin-bottom: 20px;

      }
    
      @media screen and (min-width: 767.98px) {
      max-width: 264px; 
      height: 374px; 
      
      }

      @media screen and (min-width: 1280px) {
      max-width: 375px; 
      height: 478px; 

      }

}

.modal-review__title{
      margin-bottom: 20px;

      font-weight: $font-weight;
      font-size: 20px;
      line-height: 1.15;
      color: $color-text-primary;

      @media screen and (min-width: 1280px) {
            font-size: 30px;
            line-height: 1.16;

      }

}

.modal-review__subtitle{
      margin-bottom: 8px;

      font-weight: $font-weight;
      font-size: 12px;
      line-height: 1.33;
      color: $color-text-primary;

}

.modal-review__about{
      margin-bottom: 20px;

      font-weight: $font-weight;
      font-size: 12px;
      line-height: 1.67;
      text-align: justify;

      color: $color-text-primary;

}

.modal-review__items{
      display: grid;
      grid-template-columns: 108px 108px;
      gap: 8px 0;
 
      padding-left: 0;
      margin-bottom: 20px;

      // @media screen and (min-width: 767.98px){
      // grid-template-columns: 110px 110px;

      // }

      @media screen and (min-width: 1280px) {
      grid-template-columns: 152px 152px;

      }
}

.modal-review__item--grid{
     display: flex;

}

.modal-review__item{
      font-weight: $font-weight;
      font-size: 12px;
      line-height: 1.33;
      
      cursor: pointer;

      color: $color-text-grey;
      transition:color 250ms, background-color 250ms, border 250ms;
      transition-timing-function: $timing-function;

      &--dark{
            display: block;

            font-weight: $font-weight;
            font-size: 12px;
            line-height: 1.33;

            color: $color-text-primary;

      }

      &--rating{
            display: block;
            padding: 1px 10px;
            margin-right: 1px;

            font-weight: $font-weight;
            font-size: 12px;
            line-height: 1.33;

            color: $color-text-header;
            background: $color-hoverfocus-orange;
            border-radius: 5px;

      }

      &:last-child{
      margin-bottom: 0;

      }

}

.modal-review__slash{
      display: block;

      margin-right: 7px;
      margin-left: 3px;

      font-weight: $font-weight;
      font-size: 12px;
      line-height: 1.33;
      
      color: $color-text-grey;

}

.modal-review__btn-container{
      display: flex;

      @media screen and (min-width: 1280px) {
            margin-left: 6px;

      }

}

.modal-review__btn{
      padding-left: 13px;
      padding-right: 13px;
      align-items: center;

      width: 110px;
      height: 44px;

      font-weight: $font-weight;
      font-size: 12px;
      line-height: 1.33;

      border: 1px solid $color-text-primary;
      border-radius: 5px;
      background-color: transparent;

      &:first-child{
      margin-right: 20px;

      }

      &:hover,
      &:focus{
      color: $color-text-header;
      background-color: $color-hoverfocus-orange;
      border: 1px solid transparent;

      }

      @media screen and (min-width: 767.98px) {
            padding-left: 9px;
            padding-right: 9px;

            width: 125px;

            &:first-child{
            margin-right: 15px;

            }

      }

      @media screen and (min-width: 1280px) {
            width: 136px;

      }

}