@import url('https://fonts.googleapis.com/css?family=Anton');
$color-primary: #FF6B08;;
$color-secondary: #4d4d4d;
$font: Anton, sans-serif;

// body {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: space-evenly;
    // height: 100vh;
    // min-height: 200px;
    // background:$color-secondary;
// }


.overlay{

    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity:0.7;
    transition: opacity .25s cubic-bezier(.4, 0, .2, 1), visibility .25s cubic-bezier(.4, 0, .2, 1), transform .25s cubic-bezier(.4, 0, .2, 1);
    position: fixed;
    top: 0;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// .loader {
//     position: absolute;
//     top: 50%;
//     left: 50%;

//     &__text {
//         margin: 10px auto;
//         color: $color-primary;    
//         text-transform: uppercase;
//         letter-spacing: 1px;
//         font-family: $font;
//         z-index: 2;
//     }
//     &__filmstrip {
//         position: relative;
//         width: 56px;
//         height: 70px;
//         background: $color-primary;
//         z-index: 2;
//         &:before, &:after {
//             content: '';
//             position: absolute;
//             height: 120%;
//             border-left: 5px dashed $color-secondary;
//             animation: roll 150ms infinite;
//         }
//         &:before {left: 5px;}
//         &:after {right: 5px;}
        
//     }
// }

