@import url('https://fonts.googleapis.com/css?family=Anton');
$color-primary: #FF6B08;;
$color-secondary: #F5F1ED;
$font: Anton, sans-serif;

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    min-height: 200px;
    background:$color-secondary;
}

.loader {
    &__text {
        margin: 5px auto;
        color: $color-primary;    
        text-transform: uppercase;
        letter-spacing: 1px;
        font-family: $font;
    }
    &__filmstrip {
        position: relative;
        width: 56px;
        height: 70px;
        background: $color-primary;
        z-index: -1;
        &:before, &:after {
            content: '';
            position: absolute;
            height: 120%;
            border-left: 5px dashed $color-secondary;
            animation: roll 150ms infinite;
        }
        &:before {left: 5px;}
        &:after {right: 5px;}
        
    }
}

@keyframes roll {
    0% {top: 0px;}
    100% {top: -15px;}
}

.is-open{
  display:block;
}